<div class="modal modal-open">
  <form (submit)="save($event)" class="modal-box text-white">
    <h3 class="text-lg font-bold">Change {{ ref.data.username }} role</h3>
    <label class="label">
      <span class="label-text">Role name</span>
    </label>
    <input
      [formControl]="newRoleName"
      class="input input-bordered w-full"
      name="role-name"
      placeholder="Type here"
      type="text"
    />
    <div class="modal-action">
      <button (click)="close()" class="btn" type="button">Cancel</button>
      <button
        [disabled]="newRoleName.invalid"
        class="btn btn-primary"
        type="submit"
      >
        Save
      </button>
    </div>
  </form>
</div>
