<div *ngIf="association" class="p-10 space-y-10">
  <div class="flex items-center space-x-2">
    <h1 class="text-5xl font-bold">
      {{ association.name }}
    </h1>

    <div class="tooltip tooltip-error" data-tip="Delete the association">
      <button
        (click)="deleteAssociation()"
        [ngClass]="{ loading: loadingDelete }"
        class="btn"
      >
        <svg
          *ngIf="!loadingDelete"
          class="h-5 w-5 fill-current"
          viewBox="0 0 24 24"
        >
          <path
            d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z"
          />
        </svg>
      </button>
    </div>
  </div>

  <h2 class="text-3xl font-bold">Members</h2>

  <div class="overflow-x-auto">
    <table class="table w-full">
      <!-- head -->
      <thead>
        <tr>
          <th>Name</th>
          <th>Role</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let member of association.members">
          <td>{{ member.firstname }} {{ member.lastname }}</td>
          <td>
            <div class="badge badge-primary">{{ member.role }}</div>
          </td>
          <td class="space-x-2">
            <div class="tooltip" data-tip="Remove the user">
              <button (click)="removeMember(member.id)" [disabled]="loadingRemoveMemberId !== null"
                      [ngClass]="{'loading': loadingRemoveMemberId === member.id}" class="btn btn-sm">
                <svg *ngIf="loadingRemoveMemberId !== member.id" class="h-4 w-4 fill-current" viewBox="0 0 24 24">
                  <path
                    d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z"
                  />
                </svg>
              </button>
            </div>

            <div class="tooltip" data-tip="Edit the user role">
              <!--              <app-edit-role-modal></app-edit-role-modal>-->
              <!--              <button class="btn btn-sm">-->
              <!--                <svg class="h-4 w-4 fill-current" viewBox="0 0 24 24">-->
              <!--                  <path-->
              <!--                    d="M22,4H14V7H10V4H2A2,2 0 0,0 0,6V20A2,2 0 0,0 2,22H22A2,2 0 0,0 24,20V6A2,2 0 0,0 22,4M8,9A2,2 0 0,1 10,11A2,2 0 0,1 8,13A2,2 0 0,1 6,11A2,2 0 0,1 8,9M12,17H4V16C4,14.67 6.67,14 8,14C9.33,14 12,14.67 12,16V17M20,18H14V16H20V18M20,14H14V12H20V14M20,10H14V8H20V10M13,6H11V2H13V6Z"-->
              <!--                  />-->
              <!--                </svg>-->
              <!--              </button>-->
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <h2 class="text-3xl font-bold">Roles</h2>

  <section class="space-y-4">
    <form class="space-x-2">
      <input
        class="input input-bordered w-full max-w-xs"
        placeholder="Role name"
        type="text"
      />
      <button class="btn">Add</button>
    </form>

    <div class="space-x-4">
      <div *ngFor="let role of roles" class="badge badge-primary">
        {{ role.name }}
      </div>
    </div>
  </section>
</div>
