<div class="p-10 space-y-10">
  <h1 class="text-5xl font-bold">Users</h1>

  <div class="stats shadow w-full">

    <div class="stat">
      <div class="stat-figure text-secondary">
        <svg class="inline-block w-8 h-8 fill-current" viewBox="0 0 24 24">
          <path
            d="M19 10.73V19H17V11.36L15 12V19H13V12.62L11 13.26V19H9V13.89L7 14.5V19H5V15.15L2.57 15.92L2 14L5 13.05V5H7V12.42L9 11.79V5H11V11.16L13 10.53V5H15V9.9L17 9.26V5H19V8.63L21 8L21.57 9.92L19 10.73Z"/>
        </svg>
      </div>
      <div class="stat-title">Count</div>
      <div class="stat-value">{{dataSource.length}}</div>
    </div>

    <div class="stat">
      <div class="stat-figure text-secondary">
        <svg class="inline-block w-8 h-8 stroke-current" fill="none" viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
          <path
            d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"
            stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
        </svg>
      </div>
      <div class="stat-title">Mean age</div>
      <div class="stat-value">{{meanAge}}</div>
    </div>

    <div class="stat">
      <div class="stat-figure text-secondary">
        <svg class="inline-block w-8 h-8 stroke-current" fill="none" viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
          <path d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4"
                stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
        </svg>
      </div>
      <div class="stat-title">Age range</div>
      <div class="stat-value">{{minAge}}-{{maxAge}}</div>
    </div>

  </div>

  <div>
    <app-search-user></app-search-user>
  </div>


  <div class="overflow-x-auto">
    <table class="table w-full">
      <!-- head -->
      <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>
          <label class="btn btn-sm" for="new-user-modal">New user</label>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of dataSource">
        <th>{{user.id}}</th>
        <td>{{user.firstname}}</td>
        <td>{{user.lastname}}</td>
        <td>{{user.age}}</td>
        <th>
          <a [routerLink]="['/users', user.id]" class="btn btn-ghost btn-xs">details</a>
        </th>
      </tr>
      </tbody>
    </table>
  </div>

</div>


<input class="modal-toggle" id="new-user-modal" type="checkbox"/>
<div class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Create a user</h3>

    <form>
      <div class="form-control">
        <label class="label">
          <span class="label-text">First name</span>
        </label>
        <input [formControl]="firstname" class="input input-bordered" placeholder="Cody" required type="text"/>
      </div>
      <div class="form-control">
        <label class="label">
          <span class="label-text">Last name</span>
        </label>
        <input [formControl]="lastname" class="input input-bordered" placeholder="Adam" required type="text"/>
      </div>
      <div class="form-control">
        <label class="label">
          <span class="label-text">Age</span>
        </label>
        <input [formControl]="age" class="input input-bordered" placeholder="47" required type="text"/>
      </div>
      <div class="form-control">
        <label class="label">
          <span class="label-text">Password</span>
        </label>
        <input [formControl]="password" class="input input-bordered" placeholder="🤫Shhhhh" required type="password"/>
      </div>


      <div class="modal-action">
        <label class="btn" for="new-user-modal">Cancel</label>
        <button [disabled]="firstname.invalid || lastname.invalid || age.invalid || password.invalid"
                class="btn btn-primary">Create
        </button>
      </div>
    </form>
  </div>
</div>
