<div class="p-10 space-y-10">
  <h1 class="text-5xl font-bold">My profile</h1>
  <form action="">
    <div class="form-control">
      <label class="label">
        <span class="label-text">First name</span>
      </label>
      <input class="input input-bordered" required type="text" />
    </div>

    <div class="form-control">
      <label class="label">
        <span class="label-text">Last name</span>
      </label>
      <input class="input input-bordered" required type="text" />
    </div>

    <div class="form-control">
      <label class="label">
        <span class="label-text">Age</span>
      </label>
      <input class="input input-bordered" required type="text" />
    </div>

    <div class="form-control">
      <label class="label">
        <span class="label-text">New password</span>
      </label>
      <input class="input input-bordered" required type="text" />
    </div>
    <div class="form-control mt-6">
      <button class="btn btn-primary">Update my profile</button>
    </div>
  </form>
</div>
